.landing-page .navbar {
  background: #1574fb !important;
}

.landing-page .navbar-brand {
  color: white !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.landing-page .nav-link {
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.landing-hero {
  background: linear-gradient(0, #0061e6, #1574fb);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -6em;
  min-height: 85vh;
  overflow-y: hidden;
}

.landing-page .btn-light {
  color: #1574fb;
  background: white;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.13);
}

.landing-page .btn-light:focus,
.landing-page .btn-light:active,
.landing-page .btn-light:hover {
  transition: 0.1s all ease-in-out;
  color: #1574fb;
  background: #ececdc;
}

.landing-hero .landing-image {
  margin-right: -80px;
  margin-left: 20px;
  display: none;
}

@media (min-width: 768px) {
  .landing-hero .landing-image {
    display: block;
  }
}

.landing-copy {
  max-width: 475px;
}

.landing-box h3.header {
  font-weight: 600;
  font-size: 1.5em;
}
.landing-box p {
  line-height: 1.75em;
  font-size: 1.1em;
}

.landing-howItWorks .lead {
  line-height: 1.65em;
}
.landing-howItWorks img {
  width: 525px !important;
}

.landing-info {
  background: #ffffff;
}
.landing-howItWorks strong,
.landing-info strong {
  font-weight: 600;
}
.landing-info .btn-primary {
  padding: 10px 15px;
}

.landing-info .lead {
  line-height: 1.8em;
}

.landing-footer {
  background: #1574fb;
  color: white !important;
}

.landing-footer a {
  color: white;
  text-decoration: underline;
}
