.App-navbar.navbar {
  background-color: #262e45;
  z-index: 2000;
}

.App-navbar.navbar-landing {
  background-color: #1574fb;
}

.App-navbar.navbar .dropdown.icon {
  margin: 0 0 0 4px;
  color: white;
}

.App-navbar.navbar .octicon {
  fill: white;
}

.App-navbar .dropdown .menu > .item > a {
  font-weight: 500;
  font-size: 11px;
  padding: 0.75rem 1.15rem !important;
  display: inline-block;
}

.App-navbar .dropdown .menu > .item {
  padding: 0 !important;
}
