.decks-container-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.decks-container-actions {
  margin: 0;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.decks-container-search {
  flex-grow: 1;
  margin-bottom: 6px;
  position: relative;
  background: none;
  flex-grow: none;
  margin-right: 24px;
  margin-bottom: 0;
}

.deck-card {
  display: flex;
  flex-direction: column;
  height: 180px;
  hyphens: auto;
  justify-content: center;
  text-align: center;
}

.deck-card:hover {
  text-decoration: none;
}
