.deck-card {
  display: flex;
  flex-direction: column;
  height: 180px;
  hyphens: auto;
  justify-content: center;
  text-align: center;
}

@media (min-width: 1200px) {
  .deck-card {
    height: 215px;
  }
}

.deck-card:hover {
  text-decoration: none;
}

.deck-card .ui.blue.progress .bar {
  background-color: #1574fb;
}
