.decks-container-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.decks-container-actions {
  margin: 0;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.decks-container-search {
  flex-grow: 1;
  margin-bottom: 6px;
  position: relative;
  background: none;
  flex-grow: none;
  margin-right: 24px;
  margin-bottom: 0;
}

.deck-card {
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  box-shadow: inset 0 -8px 0 0 #f1f1f1;
  display: flex;
  flex-direction: column;
  height: 180px;
  hyphens: auto;
  justify-content: center;
  padding: 12px;
  text-align: center;
  height: 200px;
}

.deck-card:hover {
  text-decoration: none;
}

.deck-card::before {
  border-radius: 12px;
  bottom: 0px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.06);
  content: "";
  right: 0;
  left: 0;
  position: absolute;
  top: 0;
}
